USERNAME="your_email@example.com"
PASSWORD="your_password"
PATH="your_pikpak_folder_id"
RSS="https://mikanani.me/RSS/MyBangumi?token=your_token_here"
HTTP_PROXY="http://127.0.0.1:7890"
HTTPS_PROXY="http://127.0.0.1:7890"
SOCKS_PROXY="socks5://127.0.0.1:7890"
ENABLE_PROXY=false
MIKAN_USERNAME="your_mikan_email@example.com"
MIKAN_PASSWORD="your_mikan_password"
MYSQL_HOST="127.0.0.1"
MYSQL_PORT=3306
MYSQL_DATABASE="anime"
MYSQL_USERNAME="your_mysql_user"
MYSQL_PASSWORD="your_mysql_password"
MYSQL_DSN=
REDIS_ADDR="127.0.0.1:6379"
REDIS_PASSWORD=
REDIS_DB=0
